<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add</title>
</head>
<body>
	<form action="/artists" methos="post">
		<input type="text" name="name">
		<input type="submit">
	</form>
</body>
</html>