<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lista de los mejores artista del mundo</title>
</head>
<body>
	<h1>Artista</h1>
	<ul>
		<% artists.forEach(function(artist){	%>
			<li><%=artist%></li>
		<% }) %>
	</ul>
</body>
</html>